html{
    font-family: 'Handlee', cursive;
    font-size: 15px;
}
body{
    margin: 0;
    background-color: #222;
}
header{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a {
    text-decoration: none;
}
* {
    text-align: center;
    color: cacaca;
}
/* fondo ---------------------------------------------------------------- */
.background-image {
    background-image: url(../img/Principal.jpg);
    background-size: 100%;    
    left: 0;
    top: 0;
    min-height: 554px; /* Verificar que abarque la pantalla completa en todos los dispositivos  */
    width: 100%;   
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: -1;
    background-attachment: fixed;    
}
.logo-container {    
    position: absolute;
}
#domain {    
    display: block;        
    max-width: 400px; 
}
/* Bar Nav ---------------------------------------------------- */
nav {
    width: 100%;
    background-color: rgba(0, 0, 0, .6)    
}
.bar-nav {
    position: fixed;
    top: 0;
    z-index: 1; /* Permite clickear en cualquier posición de la página */
    width: 100%;    
    margin: 0;
}
.bar-nav ul {
    padding-left: 0;
    overflow: hidden;
    display: flex;
    margin: 0;
    justify-content: center;
}
.bar-nav ul li {
    float: left;
    list-style-type: none;
    padding: 5px;
}
.bar-nav a {
    display: block;
    text-align: center;
    margin: 1px 5px;
    color: #cacaca;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.bar-nav a:hover {
    background-color: #cacaca;
    color: black;
    text-decoration: underline;
}
.logo-container {    
    position: absolute;
}
#domain {    
    display: block;        
    max-width: 400px; 
}
/* main content ------------------------------------------------------------------ */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}
/* tarjetas */
.post {
    transition: all box-shadow 0.3s ease;
    background-color: rgba(2, 2, 2, .5);    
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.post:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}
.title {
    margin-top: 30px;
}
.below-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
@media screen and (max-width: 800px) {
    /* nav-bar view */
    .bar-nav a {
        font-size: 0.75em;
        margin: 1px 1em;
    }
}
/*
@media screen and (max-width: 420px) {
    nav {
        visibility: hidden;
    }
}
*/
